html {
    background: #F0F0F0;
}

.sticky 
{
    background: black;
    position: sticky;
    top: 0;
}

nav 
{
    display: flex;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    margin: 0;
}

.section-heading 
{
    padding: 15px;
    margin: 20px;
}

h1 {
    font-weight: normal;
}
h2 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
h3 
{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
h4 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
    color: #696969;
    margin: 20px;
}

#Toptitle {
    margin: 20px;
}
#passion {
    color: black;
    border-top: 1px solid #ccc;
    /*margin: 0 auto;*/
    text-align:center;
}
p
{
    color: gray;
}

#resume {
    color: black;
    margin: 20px;
    border-top: 1px solid #ccc;
}

#projects {
    margin: 20px;
    border-top: 1px solid #ccc;
    text-align: center;
}

#Pacman {
    height: 500px;
    width: 950px;
}

#Red-Runner {
    height: 500px;
    width: 950px;
}

#Infested {
    height: 500px;
    width: 950px;
}

a:hover {
    background-color: #BEBEBE;
}

.links {
    color: #6666FF;
}

.div {
    color: #484848;
}